# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/

# Environnements virtuels
venv/
.env/
.venv/
ENV/

# macOS
.DS_Store

# VSCode
.vscode/

# PyCharm
.idea/

# Logs
*.log

# Tests
.coverage
htmlcov/

# Autres
*.swp
*.bak