pyttsx3
speechrecognition
pyaudio
sounddevice
numpy
opencv-python
Pillow
mujoco
fastapi
uvicorn[standard]
websockets
pydantic
pydantic-settings
python-multipart
# Outils de développement
ruff
black
isort
# Si besoin de MySQL avec Python 3, installe mysqlclient ou PyMySQL :
# mysqlclient
# PyMySQL